* {
  box-sizing: border-box;
}
#menu-title {
  text-align: center
}
h1{
  font-family:Helvetica, sans-serif;
  font-size: 60px;
  color:#023d7f;
}
h2 {
  text-align: left;
  padding:10px;
  border: 1px solid black;
}
  @media (min-width: 992px) {
 #chicken {
  width:33%;
  float:left;
 }
 #beef {
  width: 33%;
  float: left;
 }
}
@media (min-width:768px) and (max-width:991px) {

}
@media (max-width: 767px) {
  #chicken {
    width: 100%;
    float: center;
  }
  #beef {
    width: 100%;
    float: center;

  }
  #sushi {
    width: 100%;
    float: center;
  }
}