* {
  box-sizing: border-box;
}
h1{
  font-family:Helvetica, sans-serif;
  font-size: 60px;
  color:#023d7f;
}
h2 {
  text-align: left;
  padding:10px;
  border: 1px solid black;
}
  @media (min-width: 992px) {
h2 {
  float: left;
  width: 33.33%;
}
}
#menu-title {
  text-align: center
}
@media (min-width: 768px)  and (max-width:991px) {
 #chicken {
  width: 50%;
  float: left;
 }
 #beef {
  width: 50%;
  float: right;
  
 }
 #sushi {
  width:100%;
  clear: both;
 }
}
@media (max-width: ≤767px) {
  #chicken {
    float: left;
    clear:both;
    width: 100%;
  }
  #beef {
    float: left;
    clear: both;
    width: 100%;
  }
  #sushi {
    float: left;
    clear: both;
    width: 100%;
  }
}